.text {
	padding-left: 72.5px;
	padding-right: 20px;
}

.quantity {
	padding-right: 20px;
}

#text {
	padding: 12px;
	margin-right: 40px;

	width: 225px;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.11);
	background: white;
	font-size: 14px;
	outline: none;
}

ul {
	list-style-type: none;
}

#quantity {
	padding: 12px;
	margin-right: 20px;
	width: 190px;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.11);
	background: white;
	font-size: 14px;
	outline: none;
}

.addChore-red {
	margin-left: 20px;
	padding: 12px 32px;

	border-radius: 4px;
	border: none;

	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.11);
	background: #2883c1;
	color: white;
	transition: all 0.3s ease-out;

	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.addChore-none {
	margin-left: 20px;
	padding: 12px 32px;

	border-radius: 4px;
	border: none;

	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.11);
	background: lightgray;
	color: black;
	transition: all 0.3s ease-out;

	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.addChore-red:hover,
.addChore-none:hover {
	transition: all 0.3s ease-out;
}

.form-group {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 1100px) {
	.input-field {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.form-group {
		display: flex;
		align-items: center;
	}

	.quantity {
		padding-left: 72.5px;
	}
	#text,
	#quantity {
		margin-left: -25px;
	}

	.chore-add {
		/* align-self: flex-start; */
		position: relative;
		bottom: 25px;
		right: 15px;
	}
}

@media screen and (max-width: 760px) {
	.chore-add {
		position: relative;
		bottom: 30px;
		right: 15px;
		/* align-self: start; */
	}
	.addChore-red,
	.addChore-none {
		font-size: 12px;
		padding: 12px 20px;
	}
}
