.auth-for-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.login-form > label,
.login-form > button,
p {
	font-family: 'Poppins', sans-serif;
}

/* .login-form {
	width: 15vw;
} */

p > a {
	text-decoration: none;
	color: black;
}
.login-form {
	display: flex;
	flex-direction: column;
	width: 275px;
}

label {
	text-align: left;
	padding: 0.25rem 0;
}

input {
	margin: 0.5rem 0;
	padding: 0.75rem;
	border-radius: 10px;
}

button {
	border: none;
	background-color: lightgray;
	padding: 0.75rem;
	border-radius: 10px;
	cursor: pointer;
}
